body{
	margin: 1%;
	padding: 2%;
}
header{
	font-family: arial;
	background-image: url('../img/flywheel.jpg');
	padding:5%;
}

nav a{
	display: inline-block;
    margin: 5%;
    padding: 2%;
    border: solid;
    border-color: white;
    border-radius:7px;
    text-decoration:none;

}
.active{
	background-color: white;
}

.left
{
	float: left;
	background-color: yellow;
	width: 20%;
	display: inline-block;
}
.right{
	float: right;
	width: 80%;

}
h1{
	text-align: center;
	font-variant: small-caps;
	color: #fff000;
}
p{
	padding: 4px;
	text-align: left;
}
p::selection{
	color: red;
}
h2{
	color:black;
	padding: 10px;
	font-variant-caps:small-caps;
	font-family: arial;
	margin-left: 20px;
	width: 75%;
}
th{
	color: white;
	border: 0.01px solid;
	background-color: #28B463;

} 


table{
	border: 0.001px solid;
    margin:30px;
    padding: 0.01px;
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    font-size: large;
}
 td {
	border:.0.01px solid;
	opacity: .7;
	width:10%;
	background-color:#AED6F1;
}
tr th:first-child, tr td:first-child {
	text-align: left;
  padding: 0px 2px 0px 10px;
}
td {
  background: #9fbf65;
	text-align: center;
  color: #790404; 
	border-radius: 2px;
	padding: 2px;
}

td:hover{
	opacity:1;
}



section
{
	background:white;
}
img{
	width: 200px;
	border:solid;
	color:black;
	margin:10px; 
	display: inline-block;
}
	